.acf-responsive-options-input {
    max-width: 400px;
    margin: 0pt auto;
    text-align: center;
}

.acf-section-options-input {
    max-width: 400px;
    margin: 0pt auto;
    text-align: center;
    .acf-label {
    }
}