/* .pb-column {
    .modal-overlay {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: none;
        
    }
    &:hover {
        .modal-overlay {
            display: block;
            &:hover {
                transition: background-color 250ms;
                background-color: rgba(0,0,0,0.5);
            }
            
            
        }
    }
} */
//Options Modal
.acf-pb-options-modal-triggers {
    a {
        text-decoration: none;
        background: none;
        .acf-icon {
            margin-left: 5px;
            background: none;
            border: none;
            color: white;
            margin-top: 5px
        }  
    }
}

.acf-pb-options-modal {
    display: none;
    &.modal-active {
        display: block;
        z-index: 200070;
        position: fixed !important;
        background: white;
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 700px;
        right: 0px;
        overflow: hidden;
        box-shadow: -10px 0px 20px 1px rgba(0,0,0,0.3);
        .modal-header {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0.5rem;
            background: #efefef;
            border-bottom: 1px solid #ddd;
            z-index: 200071;
            .modal-label {
                line-height: 29px;
                float: left;
                font-size: 1rem;
                font-weight: bold;
                position: relative;
            }
            .modal-close {
                float: right;
                position: relative;
                .tb-close-icon {
                    &:hover {
                        color: #00a0d2;
                        cursor: pointer;
                    }
                }
            }
        }
        .modal-inner {
            z-index: 200071;
            position: absolute;
            background: white;
            top: 46px;
            bottom: 42px;
            left: 0;
            right: 0;
            overflow: scroll;
        }
    }
}

.acf-fc-popup {
    background: #2F353E;
    border-radius: 5px;
    color: #fff;
    padding: 7px 0;
    position: absolute;
    font-size: 13px;
    z-index: 999999 !important;
    min-width: 135px;
}

.acf-tooltip.-confirm {
    z-index: 999999;
}

.mce-panel.mce-menu {
    border: 1px solid #ddd;
    z-index: 999999 !important;
}

body.child-modal-active,
.child-modal-active .pb-column-inner{
    overflow: hidden !important;
}

.option-modal-underlay {
    display: none;
}

.option-modal-underlay.modal-active {
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 100059;
    background: rgba(0,0,0,0.5);
    top:  0;
    bottom: 0;
    left: 0;
    right: 0;
}
