$border_color: #ddd;
$highlight_color: #0085ba;

#page-builder {
	.acf-section-styles-padding,
	.acf-section-styles-margin {
		.acf-label {
			clear: both;
		}
		label {
			cursor: default;
		}
		input[type="number"] {
			box-sizing: border-box;
			border-style: none;
			width: 60px;
			border-radius: 0;
			border: 2px solid #ddd;
			border-right: none;
			margin-bottom: 16px;
			&:focus {
				&.top {
			    	border-top: 2px solid $highlight_color;
			    }
			    &.right {
			    	border-right: 2px solid $highlight_color;
			    }
			    &.bottom {
			    	border-bottom: 2px solid $highlight_color;
			    }
			    &.left {
			    	border-left: 2px solid $highlight_color;
			    	border-right: 2px solid $border_color;
			    }
			}			
		}
		span {
			vertical-align: middle;
		}
	    
	}
	ul.pb-control-group {
		text-align: center;
		li {
			display: block;
			float: left;
			label,
			.cotrol-button {
				text-align: center;
			}
			label,
			input,
			.control-button {
				clear: both;
				display: block;
				text-align: center;
			}
			&:first-child {
				input {
					border-radius: 10px 0px 0px 10px;
				}
			}
		}
		line-height: 16px;
		.control-button {
			width: 60px;
			text-align: center;
			height: 24px;
			vertical-align: middle;
			border: 2px solid #ddd;
			border-radius: 0 10px 10px 0;
			cursor: pointer;
			span {
				clear: both;
				display: block;
				text-align: center;
				line-height: 16px;
			}
			vertical-align: middle;
			.dashicons {
				vertical-align: middle;
				line-height: 24px;
				display: inline-block;
			}
			.dashicons-admin-links {
				display: none;
			}
			&.linked {
				color: $highlight_color;
				.dashicons-editor-unlink {
					display: none;
				}
				.dashicons-admin-links {
					display: inline-block;
				}
			}
		}
	}
}
